body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.card {
  display: flex;
  flex-direction: row;
}
.edit-delete-btn {
  display: flex;
}